@media screen and (max-width: 1023px) {
    .main_image_wrapper {
        display: flex;
        flex-direction: column-reverse;

        .mobilehide {
            display: none;
        }
    
        .image_bg {
            position: relative;
            height: 20rem;
    
            .desktop_intro {
                display: none;
            }
    
            .mobile_intro {
                position: absolute;
                width: 100%;
                height: 22.5rem;
                z-index: -2;
            }
    
            .mockup {
                position: absolute;
                top: -5rem;
                margin: auto;
                left: 0;
                right: 0;
                height: 24.25rem;
                z-index: -1;
            }
        }
    
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
            padding: 0 1rem 1rem 1rem;
    
            h1 {
                color: $dark-blue;
                font-weight: 300;
            }
    
            p {
                color: $grayish-blue;
                font-size: .9rem;
            }
    
            button {
                border: none;
                padding: .75rem 1.25rem;
                border-radius: 2rem;
                background: linear-gradient(to right, #31d35c, #2bb7da);
                color: $white;
                font-weight: 700;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main_image_wrapper {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 0 0 0 10rem;
        justify-content: space-between;
        position: relative;

        main {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            h1 {
                color: $dark-blue;
                font-weight: 300;
                font-size: 3rem;
            }
    
            p {
                color: $grayish-blue;
                font-size: 1rem;
            }
    
            button {
                border: none;
                padding: .75rem 1.25rem;
                border-radius: 2rem;
                background: linear-gradient(to right, #31d35c, #2bb7da);
                color: $white;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(to right, #5ef386, #54dafc);
                }
            }
        }

        .mobile_intro {
            display: none;
        }

        .desktop_intro {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            max-width: 50%;
        }

        .mockup {
            position: absolute;
            right: 0;
            top: -2.5rem;
            z-index: -1;
            max-width: 50%;
        }
    }
}