.choice {
    background: $light-grayish-blue;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .why {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .5rem;

        h2 {
            font-weight: 300;
            color: $dark-blue;
            font-size: 1.75rem;
        }

        p {
            font-size: .9rem;
            // color: $grayish-blue;
            color: #50505E;
        }
    }
    
    .sections_row {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;

            h3 {
                font-weight: 300;
                color: $dark-blue;
            }

            p {
                font-size: .9rem;
                // color: $grayish-blue;
                color: #50505E;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .choice {
        padding: 5rem 10rem;

        .why {
            text-align: start;
            width: 31rem;
        }

        .sections_row {
            flex-direction: row;

            section {
                align-items: flex-start;
                text-align: start;
            }
        }
    }
}