@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Public Sans, sans-serif;
  background: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  header {
    background: white;
    padding: 1.25rem 0;
  }
  header .logo_button_wrapper {
    width: 85%;
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  header .hamburger {
    border: none;
    background: none;
    z-index: 99;
  }
  header nav .nav-ul {
    padding: 2.75rem 2rem 2rem 2rem;
    max-width: 85%;
    list-style-type: none;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .25rem;
    z-index: 97;
    position: fixed;
    top: 100rem;
    left: 0;
    right: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }
  header nav .nav-ul a {
    text-decoration: none;
    color: #2d314d;
    font-size: 1rem;
  }
  header nav .nav-ul a.request {
    display: none;
    visibility: hidden;
  }
  header nav .nav-ul.show {
    top: 5rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 10rem;
    background: #fff;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  header .nav-ul .centered {
    margin-left: auto;
  }
  header .nav-ul a {
    color: #9698a6;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
  }
  header .nav-ul a.request {
    padding: .75rem 1.25rem;
    border-radius: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: white;
    font-weight: 700;
  }
}

@media screen and (max-width: 1023px) {
  .main_image_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main_image_wrapper .mobilehide {
    display: none;
  }
  .main_image_wrapper .image_bg {
    position: relative;
    height: 20rem;
  }
  .main_image_wrapper .image_bg .desktop_intro {
    display: none;
  }
  .main_image_wrapper .image_bg .mobile_intro {
    position: absolute;
    width: 100%;
    height: 22.5rem;
    z-index: -2;
  }
  .main_image_wrapper .image_bg .mockup {
    position: absolute;
    top: -5rem;
    margin: auto;
    left: 0;
    right: 0;
    height: 24.25rem;
    z-index: -1;
  }
  .main_image_wrapper main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
  }
  .main_image_wrapper main h1 {
    color: #2d314d;
    font-weight: 300;
  }
  .main_image_wrapper main p {
    color: #9698a6;
    font-size: .9rem;
  }
  .main_image_wrapper main button {
    border: none;
    padding: .75rem 1.25rem;
    border-radius: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: white;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  .main_image_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    padding: 0 0 0 10rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .main_image_wrapper main {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
  }
  .main_image_wrapper main h1 {
    color: #2d314d;
    font-weight: 300;
    font-size: 3rem;
  }
  .main_image_wrapper main p {
    color: #9698a6;
    font-size: 1rem;
  }
  .main_image_wrapper main button {
    border: none;
    padding: .75rem 1.25rem;
    border-radius: 2rem;
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: white;
    font-weight: 700;
  }
  .main_image_wrapper .mobile_intro {
    display: none;
  }
  .main_image_wrapper .desktop_intro {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    max-width: 50%;
  }
  .main_image_wrapper .mockup {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50%;
  }
}

.choice {
  background: #f3f4f6;
  padding: 3rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.choice .why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: .5rem;
}

.choice .why h2 {
  font-weight: 300;
  color: #2d314d;
  font-size: 1.75rem;
}

.choice .why p {
  font-size: .9rem;
  color: #9698a6;
}

.choice .sections_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.choice .sections_row section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
}

.choice .sections_row section h3 {
  font-weight: 300;
  color: #2d314d;
}

.choice .sections_row section p {
  font-size: .9rem;
  color: #9698a6;
}

@media screen and (min-width: 1024px) {
  .choice {
    padding: 5rem 10rem;
  }
  .choice .why {
    text-align: start;
    width: 31rem;
  }
  .choice .sections_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .choice .sections_row section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
  }
}

.articles {
  background: #fafafa;
  padding: 3rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.articles h2 {
  color: #2d314d;
  font-weight: 400;
}

.articles .articles_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.articles .articles_wrapper .article_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles .articles_wrapper .article_container img {
  max-height: 10rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.articles .articles_wrapper .article_container article {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.articles .articles_wrapper .article_container article small {
  color: #9698a6;
  font-size: .7rem;
}

.articles .articles_wrapper .article_container article h3 {
  color: #2d314d;
  font-weight: 300;
  font-size: 1.2rem;
}

.articles .articles_wrapper .article_container article p {
  font-size: .9rem;
  color: #9698a6;
}

@media screen and (min-width: 1024px) {
  .articles {
    padding: 5rem 10rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
  }
  .articles h2 {
    font-size: 2rem;
  }
  .articles .articles_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .articles .articles_wrapper .article_container img {
    max-height: 12.5rem;
  }
}

footer {
  padding: 1.5rem;
  background: #2d314d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

footer .logo_socials_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo_socials_wrapper .socials ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .75rem;
}

footer nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer nav ul .links_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer nav ul .links_row a {
  color: white;
  text-decoration: none;
  font-size: .9rem;
}

footer .request_copyright_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

footer .request_copyright_wrapper button {
  border: none;
  padding: .75rem 1.25rem;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: 700;
}

footer .request_copyright_wrapper p {
  color: #9698a6;
  font-size: .9rem;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 3rem 10rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .logo_socials_wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer nav {
    width: 20%;
  }
  footer nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer nav ul .links_row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .request_copyright_wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */