@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  font-family: Public Sans, sans-serif;
  background: hsl(0deg, 0%, 98%);
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  header {
    background: hsl(0deg, 0%, 100%);
    padding: 1.25rem 0;
  }
  header .logo_button_wrapper {
    width: 85%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  header .hamburger {
    border: none;
    background: none;
    z-index: 99;
  }
  header nav .nav-ul {
    padding: 2.75rem 2rem 2rem 2rem;
    max-width: 85%;
    list-style-type: none;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.25rem;
    z-index: 97;
    position: fixed;
    top: 999rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
  header nav .nav-ul a {
    text-decoration: none;
    color: hsl(233deg, 26%, 24%);
    font-size: 1rem;
  }
  header nav .nav-ul a.request {
    display: none;
    visibility: hidden;
  }
  header nav .nav-ul.show {
    top: 5rem;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    height: 5rem;
    background: #fff;
    position: relative;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    flex-grow: 1;
  }
  header .nav-ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
  }
  header .nav-ul .underline {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    align-items: center;
  }
  header .nav-ul .underline .line {
    bottom: 0;
    width: 100%;
    opacity: 0;
    height: 0.25rem;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    position: absolute;
  }
  header .nav-ul .underline:hover .line {
    opacity: 1;
    transition: 0.3s ease;
  }
  header .nav-ul .center {
    margin-left: auto;
  }
  header .nav-ul .right {
    margin-left: auto;
  }
  header .nav-ul li {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .nav-ul a {
    color: #575766;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
    height: 100%;
    margin-top: auto;
    position: relative;
    display: flex;
    align-items: center;
  }
  header .nav-ul a.hl:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(to right, #31d35c, #2bb7da);
  }
  header .nav-ul a.request {
    height: unset;
    margin-bottom: auto;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
  }
  header .nav-ul a.request:hover {
    background: linear-gradient(to right, #5ef386, #54dafc);
  }
}
@media screen and (max-width: 1023px) {
  .main_image_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .main_image_wrapper .mobilehide {
    display: none;
  }
  .main_image_wrapper .image_bg {
    position: relative;
    height: 20rem;
  }
  .main_image_wrapper .image_bg .desktop_intro {
    display: none;
  }
  .main_image_wrapper .image_bg .mobile_intro {
    position: absolute;
    width: 100%;
    height: 22.5rem;
    z-index: -2;
  }
  .main_image_wrapper .image_bg .mockup {
    position: absolute;
    top: -5rem;
    margin: auto;
    left: 0;
    right: 0;
    height: 24.25rem;
    z-index: -1;
  }
  .main_image_wrapper .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
  }
  .main_image_wrapper .main h1 {
    color: hsl(233deg, 26%, 24%);
    font-weight: 300;
  }
  .main_image_wrapper .main p {
    color: #545463;
    font-size: 0.9rem;
  }
  .main_image_wrapper .main button {
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .main_image_wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 0 0 10rem;
    justify-content: space-between;
    position: relative;
  }
  .main_image_wrapper .main {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .main_image_wrapper .main h1 {
    color: hsl(233deg, 26%, 24%);
    font-weight: 300;
    font-size: 3rem;
  }
  .main_image_wrapper .main p {
    color: #545463;
    font-size: 1rem;
  }
  .main_image_wrapper .main button {
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
  }
  .main_image_wrapper .main button:hover {
    background: linear-gradient(to right, #5ef386, #54dafc);
  }
  .main_image_wrapper .mobile_intro {
    display: none;
  }
  .main_image_wrapper .desktop_intro {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    max-width: 50%;
  }
  .main_image_wrapper .mockup {
    position: absolute;
    right: 0;
    top: -2.5rem;
    z-index: -1;
    max-width: 50%;
  }
}
.choice {
  background: hsl(220deg, 16%, 96%);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.choice .why {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.choice .why h2 {
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
  font-size: 1.75rem;
}
.choice .why p {
  font-size: 0.9rem;
  color: #50505E;
}
.choice .sections_row {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.choice .sections_row section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.choice .sections_row section h3 {
  font-weight: 300;
  color: hsl(233deg, 26%, 24%);
}
.choice .sections_row section p {
  font-size: 0.9rem;
  color: #50505E;
}

@media screen and (min-width: 1024px) {
  .choice {
    padding: 5rem 10rem;
  }
  .choice .why {
    text-align: start;
    width: 31rem;
  }
  .choice .sections_row {
    flex-direction: row;
  }
  .choice .sections_row section {
    align-items: flex-start;
    text-align: start;
  }
}
.articles {
  background: hsl(0deg, 0%, 98%);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.articles h2 {
  color: hsl(233deg, 26%, 24%);
  font-weight: 400;
}
.articles .articles_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.articles .articles_wrapper .article_container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0.5px 0.5px 0.5px;
}
.articles .articles_wrapper .article_container img {
  max-height: 10rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.articles .articles_wrapper .article_container article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.articles .articles_wrapper .article_container article small {
  color: #545463;
  font-size: 0.7rem;
}
.articles .articles_wrapper .article_container article h3 {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
}
.articles .articles_wrapper .article_container article h3:hover {
  color: hsl(136deg, 65%, 51%);
}
.articles .articles_wrapper .article_container article p {
  font-size: 0.9rem;
  color: #545463;
}

@media screen and (min-width: 1024px) {
  .articles {
    padding: 5rem 10rem;
    align-items: flex-start;
    gap: 2rem;
  }
  .articles h2 {
    font-size: 2rem;
  }
  .articles .articles_wrapper {
    flex-direction: row;
  }
  .articles .articles_wrapper .article_container img {
    height: 12.5rem;
  }
}
footer {
  padding: 1.5rem;
  background: hsl(233deg, 26%, 24%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .logo_socials_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
footer .logo_socials_wrapper .socials ul {
  list-style-type: none;
  display: flex;
  gap: 0.75rem;
}
footer .logo_socials_wrapper .socials ul a svg {
  fill: hsl(0deg, 0%, 100%);
}
footer .logo_socials_wrapper .socials ul a svg:hover {
  fill: hsl(136deg, 65%, 51%);
}
footer nav ul {
  align-items: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer nav ul .links_row {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer nav ul .links_row a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  font-size: 0.9rem;
}
footer nav ul .links_row a:hover {
  color: hsl(136deg, 65%, 51%);
}
footer .request_copyright_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
footer .request_copyright_wrapper button {
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}
footer .request_copyright_wrapper button:hover {
  background: linear-gradient(to right, #5ef386, #54dafc);
}
footer .request_copyright_wrapper p {
  color: hsl(233deg, 8%, 62%);
  font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 3rem 10rem;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .logo_socials_wrapper {
    justify-content: space-between;
  }
  footer nav {
    width: 20%;
  }
  footer nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  footer nav ul .links_row {
    align-items: flex-start;
  }
  footer .request_copyright_wrapper {
    align-items: flex-end;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */